@font-face {
  font-family: "CircularStd-Book";
  src: url("../font/CircularStd-Book.eot"); /* IE9 Compat Modes */
  src: url("../font/CircularStd-Book.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../font/CircularStd-Book.otf") format("opentype"), /* Open Type Font */
	url("../font/CircularStd-Book.svg") format("svg"), /* Legacy iOS */
	url("../font/CircularStd-Book.ttf") format("truetype"), /* Safari, Android, iOS */
	url("../font/CircularStd-Book.woff") format("woff"), /* Modern Browsers */
	url("../font/CircularStd-Book.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd-Medium";
  src: url("../font/CircularStd-Medium.eot"); /* IE9 Compat Modes */
  src: url("../font/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../font/CircularStd-Medium.otf") format("opentype"), /* Open Type Font */
	url("../font/CircularStd-Medium.svg") format("svg"), /* Legacy iOS */
	url("../font/CircularStd-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
	url("../font/CircularStd-Medium.woff") format("woff"), /* Modern Browsers */
	url("../font/CircularStd-Medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd-Bold";
  src: url("../font/CircularStd-Bold.eot"); /* IE9 Compat Modes */
  src: url("../font/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../font/CircularStd-Bold.otf") format("opentype"), /* Open Type Font */
	url("../font/CircularStd-Bold.svg") format("svg"), /* Legacy iOS */
	url("../font/CircularStd-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
	url("../font/CircularStd-Bold.woff") format("woff"), /* Modern Browsers */
	url("../font/CircularStd-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd-Black";
  src: url("../font/CircularStd-Black.eot"); /* IE9 Compat Modes */
  src: url("../font/CircularStd-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../font/CircularStd-Black.otf") format("opentype"), /* Open Type Font */
	url("../font/CircularStd-Black.svg") format("svg"), /* Legacy iOS */
	url("../font/CircularStd-Black.ttf") format("truetype"), /* Safari, Android, iOS */
	url("../font/CircularStd-Black.woff") format("woff"), /* Modern Browsers */
	url("../font/CircularStd-Black.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSans-Thin";
  src: url("../font/SpoqaHanSansThin.eot"); /* IE9 Compat Modes */
  src: url("../font/SpoqaHanSansThin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../font/SpoqaHanSansThin.otf") format("opentype"), /* Open Type Font */
	url("../font/SpoqaHanSansThin.svg") format("svg"), /* Legacy iOS */
	url("../font/SpoqaHanSansThin.ttf") format("truetype"), /* Safari, Android, iOS */
	url("../font/SpoqaHanSansThin.woff") format("woff"), /* Modern Browsers */
	url("../font/SpoqaHanSansThin.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSans-Light";
  src: url("../font/SpoqaHanSansLight.eot"); /* IE9 Compat Modes */
  src: url("../font/SpoqaHanSansLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../font/SpoqaHanSansLight.otf") format("opentype"), /* Open Type Font */
	url("../font/SpoqaHanSansLight.svg") format("svg"), /* Legacy iOS */
	url("../font/SpoqaHanSansLight.ttf") format("truetype"), /* Safari, Android, iOS */
	url("../font/SpoqaHanSansLight.woff") format("woff"), /* Modern Browsers */
	url("../font/SpoqaHanSansLight.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSans-Regular";
  src: url("../font/SpoqaHanSansRegular.eot"); /* IE9 Compat Modes */
  src: url("../font/SpoqaHanSansRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../font/SpoqaHanSansRegular.otf") format("opentype"), /* Open Type Font */
	url("../font/SpoqaHanSansRegular.svg") format("svg"), /* Legacy iOS */
	url("../font/SpoqaHanSansRegular.ttf") format("truetype"), /* Safari, Android, iOS */
	url("../font/SpoqaHanSansRegular.woff") format("woff"), /* Modern Browsers */
	url("../font/SpoqaHanSansRegular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSans-Bold";
  src: url("../font/SpoqaHanSansBold.eot"); /* IE9 Compat Modes */
  src: url("../font/SpoqaHanSansBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../font/SpoqaHanSansBold.otf") format("opentype"), /* Open Type Font */
	url("../font/SpoqaHanSansBold.svg") format("svg"), /* Legacy iOS */
	url("../font/SpoqaHanSansBold.ttf") format("truetype"), /* Safari, Android, iOS */
	url("../font/SpoqaHanSansBold.woff") format("woff"), /* Modern Browsers */
	url("../font/SpoqaHanSansBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}